# editorconfig.org
root = true

[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{rb, erb, haml, feature, js, jade, coffee, css, sass, scss}]
indent_size = 2
