{
  "extends": "airbnb",
  "ecmaFeatures": {
    "generators": true
  },
  "rules": {
    "strict": 0,
    "jsx-quotes": 0,
    "no-else-return": 0,
    "react/no-did-update-set-state": 0,
    "react/prefer-es6-class": 0,
    "react/sort-comp": 0,
    "react/no-is-mounted": 0,
    "react/no-did-mount-set-state": 0,
    "func-names": 0,
    "prefer-template": 0,
    "generator-star-spacing": [2, {"before": true, "after": false}],
  }
}
